.abilities {
  padding: 0 0 var(--section-pdg);

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(-1 * var(--primary-gap));
    margin-left: calc(-1 * var(--primary-gap));
  }

  &__item {
    position: relative;
    margin-top: var(--primary-gap);
    margin-left: var(--primary-gap);
    flex-basis: calc(100% / 3 - var(--primary-gap));
  }

  &__subtitle {
    position: absolute;
    display: block;
    padding: 27px 0;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
