.advantages {
  padding: var(--section-pdg) 0;

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin: 0 auto 30px;
    background-color: var(--secondary-bgc);
    border-radius: 4px;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__subtitle {
    margin-bottom: 10px;
    color: var(--main-title-color);
  }

  &__description {
    @include font-style(400, 14px, 24px);
    color: var(--paragraph-color);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(-1 * var(--primary-gap));
    margin-left: calc(-1 * var(--primary-gap));
  }

  &__item {
    margin-top: var(--primary-gap);
    margin-left: var(--primary-gap);
    flex-basis: calc(100% / 4 - var(--primary-gap));
  }
}
