.advantages {
  padding: var(--mob-tab-pdg) 0;

  @media screen and (min-width: 1200px) {
    padding: var(--section-pdg) 0;
  }

  &__box {
    width: 100%;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: var(--secondary-bgc);
    border-radius: 4px;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__subtitle {
    margin-bottom: 10px;
    color: var(--main-title-color);

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &__description {
    @include font-style(400, 14px, 24px);
    color: var(--paragraph-color);
  }

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(-1 * var(--primary-gap));
      margin-left: calc(-1 * var(--primary-gap));
    }
  }

  &__item {
    max-width: 450px;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) {
      margin-top: var(--primary-gap);
      margin-left: var(--primary-gap);
      flex-basis: calc(100% / 2 - var(--primary-gap));
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 4 - var(--primary-gap));
    }
  }
}
