.logo {
  font-family: var(--secondary-font);
  @include font-style(700, 26px, 31px);
  color: #2196f3;
  animation-duration: 1000ms;
  animation-delay: 250ms;

  &__part {
    color: #000000;

    &_inverse {
      color: #ffffff;
    }
  }

  &:hover {
    animation-iteration-count: infinite;
    animation-duration: 500ms;
    animation-name: pulse;
  }

  .page-header & {
    margin-right: 93px;
    padding: 24px 0;
  }

  .page-footer & {
    display: block;
    padding: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
